.container {
   max-width: 800px;
   margin: 60px auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-family: Helvetica, sans-serif;
   color: #666;
}

.container h1 {
   font-size: 30px;
}

.container h3 {
   font-size: 25px;
}

.container p {
   font-size: 20px;
}

a {
   background-color: #666;
   color: white;
   padding: 1em 1.5em;
   text-decoration: none;
   text-transform: capitalize;
   cursor: pointer;
   border: none;
}

a:hover {
   background-color: #444;
}
